<% featnewsdata.forEach(featnewsItem=> { %>
    <article>
        <img src="<%=featnewsItem.image%>">
        <div>
            <p><%=featnewsItem.name%></p>
            <h6><%=featnewsItem.date%></h6>
        </div>
        <img class="arrow" src="/assets/img/arrow-black.svg" alt="">
    </article>
<%})%>