<footer>
    <main>
        <article>
            <div id="footer-logo">
            </div>

            <div>
                <h2 class="footer__conect">We collaborate with ambitious brands and people. <a id="connect__link" href="#">Let’s connect :)</a></h2>
            </div>
            <div>
                <h3 class="stay">STAY IN THE KNOW</h3>
                <input type="email" name="email" id="" placeholder="Email Address">
            </div>
            <div class="footer__links">
                <div>
                    <h3>Social</h3>
                    <a href="">Instagram</a>
                    <a href="">Twitter</a>
                    <a href="">Linkedin</a>
                    <a href="">Facebook</a>
                </div>
                <div>
                    <h3>Initiatives</h3>
                    <a href="">Crafted</a>
                    <a href="">Culture Manual</a>
                    <a href="">Applied</a>
                    <a href="">Brandbeats</a>
                    <a href="">Moves</a>
                </div>
                <div>
                    <h3>Offices</h3>
                    <a href="">San Diego - CA</a>
                    <a href="">Bay Area - CA</a>
                    <a href="">St. Louis-MO</a>
                </div>
            </div> 
        </article>
    </main>
    <div class="copyright">
        <div>
            <h6>BASIC®, INC 10 - 20©</h6>
            <h6>EASY TO UNDERSTAND, IMPOSSIBLE TO IGNORE.™</h6>
            <h6>TERMS, PRIVACY POLICY</h6>
        </div>
    </div>
</footer>

</body>
</html>