<footer>
    <main>
        <article>
            <div>
                <img src="assets/img/footer-logo.svg" alt="">
            </div>
            <div>
                <h3>We collaborate with ambitious brands and people. <a href="#">Let’s connect :)</a></h3>
            </div>
            <div>
                <h5>STAY IN THE KNOW</h5>
                <input type="email" name="email" id="" placeholder="Email Address">
                <!-- <hr> -->
            </div>
            <div class="footer__links">
                <div>
                    <h5>Social</h4>
                    <a href="">Instagram</a>
                    <a href="">Twitter</a>
                    <a href="">Linkedin</a>
                    <a href="">Facebook</a>
                </div>
                <div>
                    <h5>Initiatives</h5>
                    <a href="">Crafted</a>
                    <a href="">Culture Manual</a>
                    <a href="">Applied</a>
                    <a href="">Brandbeats</a>
                    <a href="">Moves</a>
                </div>
                <div>
                    <h5>Offices</h5>
                    <a href="">San Diego - CA</a>
                    <a href="">Bay Area - CA</a>
                    <a href="">St. Louis-MO</a>
                </div>
            </div> 
        </article>
    </main>
    <div class="copyright">
        <div>
            <h6>BASIC®, INC 10 - 20©</h6>
            <h6>EASY TO UNDERSTAND, IMPOSSIBLE TO IGNORE.™</h6>
            <h6>TERMS, PRIVACY POLICY</h6>
        </div>
    </div>
</footer>

</body>
</html>