<footer>
    <article>
        <div>
            <img src="assets/img/footer-logo.svg" alt="">
        </div>
        <div>
            <h3>We collaborate with ambitious brands and people. <a href="#">Let’s connect :)</a></h3>
        </div>
        <div>
            <h4><span class="circle"></span>STAY IN THE KNOW</h4>
            <input type="email" name="email" id="" placeholder="Email Address">
            <!-- <hr> -->
        </div>
        <div>
            <div>
                <h4><span class="circle"></span>Social</h4>
                <a href="">Instagram</a>
                <a href="">Twitter</a>
                <a href="">Linkedin</a>
                <a href="">Facebook</a>
            </div>
            <div>
                <h4><span class="circle"></span>Initiatives</h4>
                <a href="">Crafted</a>
                <a href="">Culture Manual</a>
                <a href="">Applied</a>
                <a href="">Brandbeats</a>
                <a href="">Moves</a>
            </div>
            <div>
                <h4><span class="circle"></span>Offices</h4>
                <a href="">San Diego - CA</a>
                <a href="">Bay Area - CA</a>
                <a href="">St. Louis-MO</a>
            </div>
        </div> 
    </article>
    <div class="copyright">
        <h5>BASIC®, INC 10 - 20©</h5>
        <h5>EASY TO UNDERSTAND, IMPOSSIBLE TO IGNORE.™</h5>
        <h5>TERMS, PRIVACY POLICY</h5>
    </article>
</footer>

</body>
</html>