<nav>
    <a href=""><img id="logo-b" src="/assets/img/logo.svg" alt=""></a>
    <ul>
        <li><a href="/work">Work</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/thinking">Thinking</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <a href="">hamburger</a>
</nav>