<ul>
    <% nav.forEach(menuItem=> { %>  
        <% if ( title == menuItem.name ) { %> 
            <li> <a class="active" href="<%= menuItem.url %>" ><%= menuItem.name %></a></li>
        <% } else { %>
            <li> <a class="" href="<%= menuItem.url %>" ><%= menuItem.name %></a></li>
        <% } %>
    <% })%>
</ul>


