<!-- <section id="header" class="light">
    <nav class="light">
        <a id="logo-black" href="/"></a> -->

        <!-- <ul>
            <li><a href="/work">Work</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/thinking">Thinking</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul> -->

        <!-- <a href="./aside" class="points"></a>
    </nav>
</section> -->

<!-- navigation dynamic -->
<!-- <section id="header" class="light">
    <nav class="light">
        <a id="logo-black" href="/"></a> -->

        <ul>
            <% nav.forEach(menuItem=> { %>  
                <% if ( title == menuItem.name ) { %> 
                    <li> <a class="active" href="<%= menuItem.url %>" ><%= menuItem.name %></a></li>
                <% } else { %>
                  <li> <a class="" href="<%= menuItem.url %>" ><%= menuItem.name %></a></li>
                <% } %>
            <% })%>
        </ul>

        <!-- <a href="./aside" class="points"></a>
    </nav>
</section> -->

