<% newsdata.forEach(newsItem=> { %>
    <article>
        <img src="<%=newsItem.image%>">
        <div>
            <p><%=newsItem.name%></p>
            <h6><%=newsItem.date%></h6>
        </div>
        <img class="arrow" src="/assets/img/arrow-black.svg" alt="">
    </article>
<%})%>

