<%# worksdata.ECommerce.forEach(EComItem=> { %>
    <!-- <div class="work__item">
        <img src="<%#EComItem.ECommerceImg%>">
        <h4><%#EComItem.ECommerceTitle%></h4>
        <p><%#EComItemECommerceDescription%></p>
    </div> -->
<%#})%>



<% worksdata.Advertising.forEach(AdverItem=> { %>
    <div class="work__item">
        <img src="<%=AdverItem.AdverImg%>">
        <h4><%=AdverItem.AdverTitle%></h4>
        <p><%=AdverItem.AdverDescription%></p>
    </div>
<%})%>

