<%- include('./partials/head') %>

<section id="page404" class="rosa">
    <nav>
        <a id="logo-black" href="/"></a>
        <%- include('./partials/nav') %>
        <a href="./aside" class="points"></a>
        <a href="./hamMenu" class="hidden">MENU</a>
    </nav>
    <main class="no-found">
        <h2 class="title-h1">● 404</h2>

        <article>
            <figure>
                <img src="/assets/img/404-Gallery_1.jpg" alt="">
            </figure>
            <figure>
                <img src="/assets/img/404-Gallery_2.jpg" alt="">
            </figure>
            <figure>
                <img src="/assets/img/404-Gallery_3.jpg" alt="">
            </figure>
            <figure>
                <img src="/assets/img/404-Gallery_4.jpg" alt="">
            </figure>
            <figure>
                <img src="/assets/img/404-Gallery_5.jpg" alt="">
            </figure>
        </article>
        <div id="broke">
            <p>WE BROKE THE INTERNET
                (PAGE NOT FOUND)</p>
            <a href="/" class="rounded rlink-light">START OVER</a>    
        </div>
    </main>
</section>
<footer class="dark">
    <%- include('./partials/footer')  %>
</footer>