<%- include('./partials/head') %>

<%- include('./partials/nav') %>
   <h2>About</h2>
   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores earum sequi laborum facilis fugit dolor ipsam, labore non? Maxime molestias natus tenetur fuga eaque tempore suscipit quos, animi libero obcaecati repudiandae aperiam ipsam necessitatibus aliquam eius temporibus! At odio sapiente omnis harum assumenda deleniti, fuga, sed labore maxime dolores repellat, non iusto obcaecati eveniet quam soluta suscipit! Velit praesentium dicta et eaque. Rerum laborum, perferendis eveniet id voluptate sed distinctio ab reiciendis. Aperiam minus consequuntur unde aut harum, pariatur fugiat consectetur laudantium odio omnis odit porro autem, debitis at et repudiandae? Incidunt dolores eius unde sit blanditiis. Expedita, tempora voluptas?</p>
   <%- include('./partials/layoutrosa')%>
    <%# include('./partials/footer') %>