<%- include ('./partials/head') %>

<section id="internal-works"> 
    <section class="internal-wrapper">
        <article>
            <h5>(6)Internal Works<br> ©2020 c/o BASIC®</h5>
            <h5>A collection of internal project and initiatives under <br> the BASIC® brand.</h5>
            <button class="close-button" onclick="history.back()"><img id="close-cross" src="/assets/img/close.svg" alt="menu"></button>
        </article>

        <section class="internal-scroll">
            <section class="dazwischen">
                <div class="internal__item">
                    <img src="/assets/img/selected-work1.jpg" alt="">
                    <h4>Culture Manual® ©2018</h4>
                    <h5>Agency Culture & Onboarding</h5>
                    <p class="hidden">To help strengthen our culture and attract world class talent, we created the Culture Manual – an online guide for new hires that differentiates the employee onboarding process and builds alignment for our collective future.</p>
                    <a class="rounded rlink-rosa" href="#">VISIT THE SITE</a>
                    <h6>01</h6>
                </div>
            </section>

            <section class="dazwischen">
                <div class="internal__item">
                    <img src="/assets/img/selected-work2.jpg" alt="">
                    <h3>Moves® ©2019</h3>
                    <h4>Our New HQ</h4>
                    <p class="hidden">When we moved into our new HQ, we put together a site experience providing an in-depth look into the two-year process imagining, designing, and developing our new office we call home.
                    </p>
                    <a class="rounded rlink-rosa" href="#">VISIT THE SITE</a>
                    <h6>02</h6>
                </div>
            </section>

            <section class="dazwischen">
                <div class="internal__item">
                    <img src="/assets/img/selected-work3.jpg" alt="">
                    <h3>Culture Manual® ©2018</h3>
                    <h4>Agency Culture & Onboarding</h4>
                    <p class="hidden">To help strengthen our culture and attract world class talent, we created the Culture Manual – an online guide for new hires that differentiates the employee onboarding process and builds alignment for our collective future.</p>
                    <a class="rounded rlink-rosa" href="#">VISIT THE SITE</a>
                    <h6>03</h6>
                </div>
            </section>

            <section class="dazwischen">
                <div class="internal__item">
                    <img src="/assets/img/selected-work4.jpg" alt="">
                    <h4>Culture Manual® ©2018</h4>
                    <h5>Agency Culture & Onboarding</h5>
                    <p class="hidden">To help strengthen our culture and attract world class talent, we created theCulture Manual – an online guide for new hires that differentiates the employee onboarding process and builds alignment for our collective future.</p>

                    <a class="rounded rlink-rosa" href="#">VISIT THE SITE</a>
                    <h6>04</h6>
                </div>
            </section>
            <section class="dazwischen"> 
                <div class="internal__item">
                    <img src="/assets/img/selected-work5.jpg" alt="">
                    <h3>Culture Manual® ©2018</h3>
                    <h4>Agency Culture & Onboarding</h4>
                    <p class="hidden">To help strengthen our culture and attract world class talent, we created the Culture Manual – an online guide for new hires that differentiates the employee onboarding process and builds alignment for our collective future.</p>
                    <a class="rounded rlink-rosa" href="#">VISIT THE SITE</a>
                    <h6>05</h6>
                </div>
            </section> 
        </section>
    </section>
</section>

<!-- <section class="hamCards">
<section class="hamCardsSec">
	<article>
			<div class="line"></div>
			<div>01</div>
	</article>
	<article class="hamCardsArt">
			<img class="hamImg" src="../Img/selected-work1.jpg" alt="">
			<div>
					<h3>Culture Manual® ©2018</h3>
					<p>Agency Culture & Onboarding</p>
					<button class="buttons">VISIT THE SITE</button>
					<div><p class="hamShowUp">To help strengthen our culture and attract world class talent, we created the Culture Manual – an online guide for new hires that differentiates the employee onboarding process and builds alignment for our collective future.</p></div>
			</div>
	</article>
</section>
<section class="hamCardsSec"> -->
<%# include('./partials/scripts') %>