<%- include('./partials/head') %>

<section id="contact" class="light">
    <nav class="light">
        <a id="logo-black" href="/"></a>
        <%- include('./partials/nav') %>
        <a href="./aside" class="points"></a>
        <a href="./hamMenu" class="hidden">MENU</a>
    </nav>
    <main>
        <section id="contact-hero">
            <img src="/assets/img/Contact-Header.jpg" alt="">
            <section class="contact-intro">
                <div>
                    <h2 class="title-h1">B®/<br> CONTACT</h2>
                    <p>EASY TO UNDERSTAND.<br>IMPOSSIBLE TO IGNORE.™<br>BASIC®, INC 10 - 20©</p>
                </div>
                <div class="contact__emails">
                    <h2>●</h2>
                    <div>
                        <h3>NEW BUSINESS</h3>
                        <a href="#">hi@mail.com</a>
                    </div>
                    <div>
                        <h3>GENERAL</h3>
                        <a href="#">hi@mail.com</a>
                    </div>
                    <div>
                        <h3>PRESS</h3>
                        <a href="#">hi@mail.com</a>
                    </div>
                    <div>
                        <h3>JOIN US</h3>
                        <a href="#">hi@mail.com</a>
                    </div>
                </div>
            </section>
        </section>

        <hr class="section-bline">

        <section class="contact-items_grid">
            <h3>SEC.</h3>
            <h3>/A</h3>
            <h3 class="right">●</h3>

            <h3 class="fact__title office__title">OFFICES</h3>
            <div class="office__item">
                <img src="/assets/img/SD.jpg" alt="">
                <figcaption>
                    <p>01</p>
                    <p>/03</p>
                </figcaption>
            </div>
            <h3 class="office__city">SAN DIEGO (HQ)</h3>

            <hr class="grid-bline">

            <div class="office__item">
                <img src="/assets/img/mtv.jpg" alt="">
                <figcaption>
                    <p>02</p>
                    <p>/03</p>
                </figcaption>
            </div>
            <h3 class="office__city">BAY AREA</h3>

            <hr class="grid-bline">

            <div class="office__item">
                <img src="/assets/img/stl.jpg" alt="">
                <figcaption>
                    <p>03</p>
                    <p>/03</p>
                </figcaption>
            </div>  
            <h3 class="office__city">ST. LOUIS</h3>

            <hr class="grid-bline">
        </section>

        <hr class="section-bline">

        <section class="contact-items_grid">
            <h3>SEC.</h3>
            <h3>/B</h3>
            <h3 class="right">●</h3>

            <h3 class="fact__title follow__title">FOLLOW</h3>

            <div class="social">
                <h3>Social</h3>
                <ul>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Linkedin</a></li>
                    <li><a href="">Facebook</a></li>
                </ul>
            </div>

            <div id="stay">
                <h3 class="stay">STAY IN THE KNOW</h3>
                <input type="email" name="" id="" placeholder="Email Address">
            </div>
        </section>
    </main>
</section>
<footer class="dark">
    <%- include('./partials/footer')  %>
</footer>

