<%- include('./partials/head') %>

<%- include('./partials/nav') %>

<main>
    <section id="hero">
        <h1>WHAT’S NEXT<br>STARTS</h1>
        <h2 class="title-h1">●HERE</h2>
        <video src="/assets/img/Hero.mp4" autoplay muted loop></video>
        <hr class="hero-bline">
    </section>
   
    <section id="intro">
        <h6>STRATEGY, DESIGN, TECHNOLOGY</h6>
        <div class="intro-description">
            <h3>BASIC® is a branding and digital design agency building products, services, and ecommerce experiences that turn cultural values into company value.</h3>
            <img id="branding" src="/assets/img/branding-img.svg" alt="">
        </div>
        <a class="rounded rlink-light" href="/work">SEE THE WORK</a>
    </section>
    <hr class="intro-bline">

    <section id="engagements">
        <h3>FEATURED ENGAGEMENTS</h3>
        <article>
            <div class="engage-item">
                <img src="/assets/img/google-dark.svg" alt="logo google">
                <hr class="line-small">
                <h5>GOOGLE</h5>
                <hr class="line-fit">
                <p>Our embedded partnership with Google is as deep as it gets. We’re the lead creative agency for Google Store and provide strategy, design, and prototyping to other divisions.
                </p>
            </div>
            <div class="engage-item">
                <img src="/assets/img/patagonia-dark.svg" alt="logo patagonia">
                <hr class="line-small">
                <h5>PATAGONIA</h5>
                <hr class="line-fit">
                <p>Ongoing partnership providing strategy, branding, experience design, and development focused on bringing their mission and offerings to consumers through brand-led programs and platforms.</p>
            </div>
            <div class="engage-item">
                <img src="/assets/img/airbnb-dark.svg" alt="logo airbnb">
                <hr class="line-small">
                <h5>AIRBNB</h5>
                <hr class="line-fit">
                <p>Helping the world’s leading peer-to-peer hospitality company with creative vision, experience strategy, and execution in partnership with various departments and divisions internally at Airbnb.</p>
            </div>
            <div class="engage-item">
                <img src="/assets/img/herman-miller-resized.svg" alt="logo herman miller">
                <hr class="line-small">
                <h5>HERMAN MILLER</h5>
                <hr class="line-fit">
                <p>A collaborative and performance incentivized partnership with our teams working side by side to reimagine the digital shopping experiences for Herman Miller, Design Within Reach, and Hay.
                </p>
            </div>
            <div class="engage-item">
                <img src="/assets/img/under-armour-dark.svg" alt="logo under armour">
                <hr class="line-small">
                <h5>UNDER ARMOUR</h5>
                <hr class="line-fit">
                <p>Strategy, design, and development to differentiate the iconic brand’s direct-to-consumer experience through an all new omnichannel approach, global eCommerce </p>
            </div>
        </article>
    </section>
</main>
<section id="main2">
    <section id="culture">
        <div>
            <h2 class="title-h1">BASIC® HELPS BRANDS ●CONNECT<br> W/ CULTURE</h2>
            <h5>ADWEEK <span>(AGENCY SPOTLIGHT)</span></h5>
            <a href="/about" class="rounded rlink-rosa">About us</a>
        </div>
        <video src="/assets/img/Culture.mp4" autoplay muted loop></video>
    </section>
    <section id="featuredNews" class="rosa">
        <h3>FEATURED NEWS</h3>
        <article>
            <img src="/assets/img/Adweek.jpg" alt="">
            <div>
                <p>BASIC® Deemed One of the World’s Fastest Growing Agencies by Adweek</p>
                <h6>PRESS 09.25.19</h6>
            </div>
            <img class="arrow" src="/assets/img/arrow.svg" alt="">
        </article>
        <article>
            <img src="assets/img/brand.jpg" alt="">
            <div>
                <p>The Webby Awards Select BASIC® to Rethink the Future of Their Brand and Digital Platform</p>
                <h6>WORK 12.13.19</h6>
            </div>
            <img class="arrow" src="/assets/img/arrow.svg" alt="">
        </article>
        <article>
            <img src="/assets/img/Furrion-Partnership.jpg" alt="">
            <div>
                <p>BASIC® and Furrion partner to launch all new eCommerce website built for a D2C future</p>
                <h6>WORK 08.29.19</h6>
            </div>
            <img class="arrow" src="/assets/img/arrow.svg" alt="">
        </article>
    </section>
</section>
<%# include('./partials/layoutrosa')%>
    <%- include('./partials/layoutlight') %>
