<%- include('./partials/head') %>

<%- include('./partials/nav') %>
<main>
    <section id="news-hero">
        <h2 class="title-h1">NEWS</h2>
        <h2 class="title-h1">●</h2>
    </section>
    <section id="news__items">
        <%- include('./partials/newsdata') %>
    </section>

</main>

   <%- include('./partials/layoutlight')%>