<%- include('./partials/head') %>

<%- include('./partials/nav') %>
<main>
    <section id="news-hero">
        <h2 class="title-h1">NEWS</h2>
        <h2 class="title-h1">●</h2>
    </section>
    <section id="news__items">
        <%- include('./partials/newsdata') %>
        <!-- <article> -->
            <!-- <img src="/assets/img/news1.jpg" alt="">
            <div>
                <p>CRAFTED® EMERGES AS<br> A WINNER OF COMMUNICATION  ARTS’ 26TH INTERACTIVE ANNUAL</p>
                <h6>AWARDS 02.25.20</h6>
            </div>
            <img class="arrow" src="/assets/img/arrow-black.svg" alt="">
        </article>
        <article>
            <img src="/assets/img/news2.jpg" alt="">
            <div>
                <p>AWWWARDS NOMINATES BASIC® FOR AGENCY OF THE YEAR AND TWO OTHER HONORS</p>
                <h6>AWARDS 01.10.20</h6>
            </div>
            <img class="arrow" src="/assets/img/arrow-black.svg" alt="">
        </article>
        <article>
            <img src="/assets/img/news3.jpg" alt="">
            <div>
                <p>THE WEBBY AWARDS SELECT BASIC® TO RETHINK THE FUTURE OF THEIR BRAND AND DIGITAL PLATFORM</p>
                <h6>WORK 12.13.19</h6>
            </div>
            <img class="arrow" src="/assets/img/arrow-black.svg" alt="">
        </article>
        <article>
            <img src="/assets/img/Adweek.jpg" alt="">
            <div>
                <p>BASIC® Deemed One of the World’s Fastest Growing Agencies by Adweek</p>
                <h6>PRESS 09.25.19</h6>
            </div>
            <img class="arrow" src="/assets/img/arrow-black.svg" alt="">
        </article>
        <article>
            <img src="/assets/img/Furrion-Partnership.jpg" alt="">
            <div>
                <p>BASIC® and Furrion partner to launch all new eCommerce website built for a D2C future</p>
                <h6>WORK 08.29.19</h6>
            </div>
            <img class="arrow" src="/assets/img/arrow-black.svg" alt="">
        </article> -->
    </section>

</main>

   <%- include('./partials/layoutlight')%>