<%- include('./partials/head') %>

<%- include('./partials/nav') %>
<main>
   <section id="work-hero">
      <h2 class="title-h1">EASY TO<br> UNDERSTAND.<br> ●IMPOSSIBLE<br> TO IGNORE.</h2>
      <h6>The work we create lives at the intersection of clarity and surprise and positions brands in culture through shared values and ideals.</h6>
  </section>

  <section class="work-services">
      <div class="work__intro">
          <h5>01/04</h5>
          <h4>BRANDED ECOMMERCE</h4>
          <h6>We go beyond best practices and build best-in-class D2C channels that drive commerce, shape culture, and define categories.
          </h6>
          <a class="rounded rlink-light" href="#">Learn More</a>
      </div>
      <div class="work__item">
          <video src="/assets/img/Google-Store.mp4" autoplay muted loop></video>
          <h5>Google Store</h5>
          <h6>AN ECOMMERCE EXPERIENCE HELPING GOOGLE BRING ITS HARDWARE TO PEOPLE ACROSS THE GLOBE</h6>
      </div>
      <div class="work__item">
          <img src="/assets/img/Beats.jpg" alt="">
          <h5>Beats By Dre</h5>
          <h6>ENGINEERING A DIGITAL DESTINATION THAT MOVES AT THE SPEED OF CULTURE</h6>
      </div>
  </section>
  <section class="work-services">
      <div class="work__intro">
          <h5>02/04</h5>
          <h4>DIGITAL PRODUCTS+ SERVICES</h4>
          <h6>We identify and create digital products and services that create revenue channels and help brands thrive in the new economy.</h6>
          <a href="#" class="rounded rlink-light">Learn More</a>
      </div>
      <div class="work__item">
          <img src="/assets/img/Fender.jpg" alt="">
          <h5>Fender Academy</h5>
          <h6>A WEB SERVICE TO MAKE SALES TRAINING FEEL LESS LIKE WORK AND MORE LIKE PLAY</h6>
      </div>
      <div class="work__item">
          <img src="/assets/img/AMEX.jpg" alt="">
          <h5>American Express</h5>
          <h6>LAYING A DESIGN FOUNDATION FOR FUTURE PRODUCTS AND SERVICES WITH THE OPEN APP</h6>
      </div>
  </section>
  <section class="work-services">
      <div class="work__intro">
          <h5>03/04</h5>
          <h4>WEBSITES + PLATFORMS</h4>
          <h6>We conceive and create experiences that immerse consumers in the brand through a combination of utility and creativity.
          </h6>
          <a href="#" class="rounded rlink-light">Learn More</a>
      </div>
      <div class="work__item">
          <img src="/assets/img/Riot.jpg" alt="">
          <h5>Riot Games</h5>
          <h6>REVITALIZING THE RIOT GAMES BRAND WITH AN UPGRADED DIGITAL EXPERIENCE</h6>
      </div>
      <div class="work__item">
          <img src="/assets/img/Softbank.jpg" alt="">
          <h5>SoftBank Vision Fund</h5>
          <h6>BUILDING A DIGITAL DESTINATION FOR THE LEADING TECH INVESTMENT FUND</h6>
      </div>
  </section>
  <section class="work-services">
      <div class="work__intro">
          <h5>04/04</h5>
          <h4>BRANDING + ADVERTISING</h4>
          <h6>We create identities, platforms, and activations that differentiate brands and position them to matter in culture.</h6>
          <a href="#" class="rounded rlink-light">Learn More</a>
      </div>
      <div class="work__item">
          <img src="/assets/img/NERD.jpg" alt="">
          <h5>NERD Skincare</h5>
          <h6>DEVELOPING A BRAND THAT BROUGHT SCIENCE TO BEAUTY IN BOLD, UNEXPECTED WAYS</h6>
      </div>
      <div class="work__item">
          <img src="/assets/img/Beats.jpg" alt="">
          <h5>Brixton</h5>
          <h6>HONORING THE PAST TO BUILD THE FUTURE OF THE BRIXTON BRAND</h6>
      </div>
  </section>
</main>

   <%- include('./partials/layoutlight')%>

    