@font-face {
    font-family: 'SctoGroteskA-Bold';
    src: url("/assets/fonts/SctoGroteskA-Bold.woff2");
}

@font-face {
    font-family: 'SctoGroteskA-Medium';
    src: url("/assets/fonts/SctoGroteskA-Medium.woff2");
    /* ===font-weight: 600; */
}

@font-face {
    font-family: "SctoGroteskA-Regular";
    src: url("/assets/fonts/SctoGroteskA-Regular.woff2");
    /* fweight <=400 */
}


* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'SctoGroteskA-Regular';
}

a {
    color: inherit;
}
h4 {
    font-family: 'SctoGroteskA-Medium';
}
.light {
    background: #f4f4f4;
    color: #252422
}

main {
    width: 90%;
    margin: 0 auto;
}


/****Navigation****/
nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: inherit;
}

.rosa {
    background: #252422;
    color:#f9cdcd; 
}

#logo-black {
    background: url('/assets/img/logo.svg') left / contain no-repeat;
    width: 160px;
    height: 36px;
}

#logo-white {
    background: url('/assets/img/logo_pink.svg') left / contain no-repeat;
    width: 160px;
    height: 36px;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

.hidden {
    display: none;
}
nav ul li{
    margin: 0 10%;
}

nav ul li a{
    /* color: inherit; */
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: 'SctoGroteskA-Medium';
}

.active {
    border-bottom: 2px solid currentColor;
}

/* .rosa a {
    color: inherit;
} */

.points {
    height: 1vh;
    width: 6%;
}

.light .points {
    background: url('/assets/img/menu.svg') right / contain no-repeat;
}

.rosa .points {
    background: url('/assets/img/menu_pink.svg') right / contain no-repeat;
}

/****INDEX PAGE****/
h1{
    font-family: 'SctoGroteskA-Bold';
    font-size: 7rem;
    line-height: 16vh;
}

.title-h1 {
    font-family: 'SctoGroteskA-Bold'; 
    font-size: 7rem;
}

#hero {
    padding-top: 5vh;
}

#hero .title-h1 {
    text-align: right;
}

#hero video{
    width: 100%;
}

#intro h6 {
    font-size: 1.3rem;
    padding-top: 2vh;
}

.intro-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-description h3 {
    font-family: 'SctoGroteskA-Medium';
    width: 50%;
    padding: 7vh 0;
    font-size: 3rem;
}

#branding{
    width: 22%;
}

.rounded {
    border-radius: 50px;
    padding: 1vh 4%;
    font-size: 1.1rem;
    font-family: 'SctoGroteskA-Bold';
}

.rlink-light {
    color: #252422;
    border: 1px solid #252422;
}

.rlink-light:hover {
    color: #f4f4f4;
    background: #252422;
}

.intro-bline {
    border: none;
    border-bottom: 2px solid #252422;
    padding: 10vh 0;
}

.section-bline {
    border: none;
    border-bottom: 2px solid #252422;
    padding: 5vh 0;
}

.hero-bline {
    border: none;
    border-bottom: 2px solid #252422;
    padding: 1.5vh 0;
}

#engagements {
    margin-top: 10vh;
}

#engagements h3, #featuredNews h3 {
    margin: 5vh 0;
    max-width: 24%;
    font-family: 'SctoGroteskA-Bold';
    font-size: 3rem;
}

#engagements article{
    display: flex;
    overflow-x: scroll;
}

.engage-item{
    margin-right: 10%;
}

.engage-item img{
    height: 6vh;
    margin-bottom: 4vh;
}

.line-small{
    width: 7%;
    height: 2px;
    background: #252422;
    margin-bottom: 10vh;
}

.engage-item h5 {
    font-family: 'SctoGroteskA-Bold';
    margin: 3vh 0;
    font-size: 1.5rem;
}

.line-fit{
    width: 500px;
    background: #252422;
}

.engage-item p{
    font-size: 1.5rem;
    line-height: 4vh;
    margin: 3vh 0 8vh;
    font-family: 'SctoGroteskA-Medium';
}

#culture, #featuredNews{
    padding: 20vh 0 0;
    width: 90%;
    margin: 0 auto;
}

#culture {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#culture h2 {
    line-height: 12vh;
}

#culture h5{
    margin: 3vh 0 12vh; 
    font-size: 1.5rem;
}

#culture h5>span {
    font-family: 'SctoGroteskA-Bold';
}

.rlink-rosa {
    color: #f9cdcd;
    border: 1px solid #f9cdcd;
}

.rlink-rosa:hover{
    background: #f9cdcd;
    color: #252422;
}

#culture video{
    width: 40%;
    height: 85vh;
}

#featuredNews article, #thinking-items article, #news__items article{
    display: grid;
    grid-template-columns: 1fr 1.4fr 0.6fr;
    gap: 2%;
    padding: 3vh 0 5vh;
}

#news__items, #thinking-items{
    padding: 10vh 0;
}

#news__items article {
    border-top: 2px solid #252422;
}

#featuredNews article,
#thinking-items article{
border-top: 2px solid #f9cdcd;
}

#featuredNews article img:first-of-type,
#news__items img:first-of-type,
#thinking-items img:first-of-type{
    width: 100%;
}

#featuredNews article div,#thinking-items div, #news__items div{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
}

#featuredNews p, #thinking-items p, #news__items p{
    font-size: 3.2rem
}

#featuredNews h6, #thinking-items h6, #news__items h6{
    word-spacing: 30px;
    font-size: 1.1rem;
    font-family: 'SctoGroteskA-Medium'
}

#news-hero, #thinking-hero{
    display: flex;
    justify-content: space-between;
    padding: 10vh 0;
}

.arrow{
    width: 30px;
    align-self: flex-start;
    justify-self: flex-end;
}


/**********page WORK************/
#work-hero{
    padding: 10vh 0 0;
}

#work-hero p{
    margin-left: auto;
    width: 30%;
    padding: 10vh 0;
}

#work-hero p, .work__intro p {
    font-size: 1.5rem;
}

.work__intro{
    border-right: 2px solid #252422;
}

.work__intro p {
    padding-bottom: 5vh;
    width: 92%;
}

.work__intro h3 {
    width: 70%;
    padding: 10vh 0 5vh;
    font-size: 2.5rem;
    font-family: 'SctoGroteskA-Medium';
}

.work__item h4 {
    font-family: 'SctoGroteskA-Bold';
    padding: 3vh 0;
    font-size: 2rem;
}

.work__item p {
    width: 53%;
    font-size: 1.2rem;
    font-family: 'SctoGroteskA-Medium';
}

.gridSec-bline {
    border: none;
    border-bottom: 2px solid #252422;
}


/*********PAGE ABOUT************/
/* #about, #thinking {
    background: #252422;
    color:#f9cdcd; 
} */
#about-hero{
    padding: 10vh 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about-hero h2:nth-of-type(1), #about-hero h2:nth-of-type(2) {
    grid-column: span 2;
}

#about-hero h2:nth-of-type(3) {
    grid-row: span 4
}

#about-hero h3 {
    font-size: 2.9rem;
    padding: 5vh 0 10vh;
    line-height: 5vh;
    font-weight: 300;
}

.section-rline {
    border: none;
    border-bottom: 2px solid #f9cdcd;
    margin: 3vh 0;
}

#about-gallery{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

#about-gallery article {
    height: 140vh;
    position: relative;
}

#about-gallery figure img{
    width: 100%;
}

#page404 article img{
    width: 60%;
}

#about-gallery article figure, #page404 article figure{
    position: absolute;
    width: 40%;
}

#about-gallery figure:nth-of-type(1){
    top: 10vh;
    left: 10%;
    z-index: 3;
}

#about-gallery figure:nth-of-type(2), #page404 figure:nth-of-type(2){
    top: 39vh;
    left: 20%;
    z-index: 4;
}

#about-gallery figure:nth-of-type(3), #page404 figure:nth-of-type(3){
    top: 22vh;
    left: 28%;
    z-index: 2;
    display: flex;
}

#about-gallery figure:nth-of-type(4), #page404 figure:nth-of-type(4){
    top: 41vh;
    left: 46%;
    z-index: 1;
}

#page404 figure:nth-of-type(5){
    top: 10vh;
    left: 5%;
    z-index: 5;
}
#about-gallery article figure:hover{
    z-index: 5;
}

#about-facts img{
    width: 45%;
}

.work-services_grid, .about-facts_grid, .contact-items_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5vh 0;
}

.one-column {
    display: none;
}

.work-services_grid:last-of-type, .contact-items_grid:last-of-type {
    margin: 5vh 0 0;
    padding-bottom: 5vh;
}
.about-facts_grid .right, .contact-items_grid .right{
    justify-self: flex-end;
}

.about-facts_grid {
    margin-bottom: 5vh;
    row-gap: 10vh;
}

.about-facts_grid div{
    margin-right: 27%;
}

.fact__title{
    grid-row: span 3;
    font-family: 'SctoGroteskA-Bold';
    font-size: 3rem;
}

.about-facts_grid h4 {
    font-size: 2rem;
    font-family: 'SctoGroteskA-Bold';
}

.about-facts_grid h2{
    font-size: 5rem;
    font-family: 'SctoGroteskA-Bold';
    padding: 2.5vh 0;
}

.about-facts_grid p {
    font-size: 1.5rem;
}

.about-facts_grid:last-of-type .fact__title:last-child{
    grid-row: span 1;
}

.fact_list li {
    font-size: 1.4rem;
    line-height: 5vh;
}

.about__award{
    grid-column: span 2;
    width: 60%;
}

.about__award h3 {
    padding-bottom: 7vh;
    font-size: 2.9rem;
    line-height: 5vh;
    font-weight: 300;
}

.awards-hover{
    padding: 5vh 0 45vh;
}

.awards-hover h3 {
    font-size: 6rem;
    font-family: 'SctoGroteskA-Medium'; 
}

.awards-hover span{
    font-size: 1.2rem;
    display: inline-block;
    transform: translateY(-3.3rem);
}

.awards-hover figure{
    position: relative;
}

.awards-hover img{
    width: 30%;
    position: absolute;
    overflow: hidden;
    right: 10%;
    height: 0;
}

.awards-hover figcaption{
    font-size: 4rem;
    opacity: .5;
}

.awards-hover figcaption:hover{
    opacity: 1;
}

.awards-hover figcaption:hover+img{
    height: unset;
    transform: translateY(-50%);
}

/******* THINKING Page ******/
#thinking-intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
    margin-bottom: 200px;
}

#thinking-intro h4 {
    font-size: 2.4rem;
}

#thinking-intro h6 {
    font-size: 1.5rem;
    padding-top: 3vh;
    line-height: 3.5vh;
}

/******** CONTACT Page ********/
#contact-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2%;
    padding: 5vh 0;
}

#contact-hero img{
    height: 100vh;
    width: 100%;
    grid-row: span 2
}

/* .contact-intro {
    display: flex;
    flex-direction: column;
} */
#contactSlogan {
    grid-column: 2 / 3;
}
#contactSlogan p {
    max-width: 35%;
    margin: 3vh 0 15vh;
}
/* .contact-intro p{
    max-width: 35%;
    margin: 3vh 0 15vh;
} */

.contact__emails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    row-gap: 5vh;
}

.contact__emails h2{
    grid-row: span 2;
    font-size: 3rem;
    align-self: flex-start;
}

.contact__emails div {
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__emails h3 {
    font-size: 1.6rem;
    font-family: 'SctoGroteskA-Bold'
}

.contact__emails a, .social a{
    /* color: #252422; */
    font-size: 1.4rem;
    text-decoration: underline;
}

.contact-items_grid{
    row-gap: 4vh;
}

.office__title {
    border-right: 2px solid #252422;
    font-size: 2.2rem;
    font-family: 'SctoGroteskA-Medium';
    grid-row: span 6;
}

.office__city {
    font-size: 1.6rem;
    font-family: 'SctoGroteskA-Medium';
    margin-left: 8%;
}

.work__item, .office__item {
    margin-left: 5%;
}

.work__item img, .work__item video, .office__item img{
    width: 100%;
    margin-bottom: 20px;
}

.grid-bline {
    border: none;
    border-bottom: 2px solid #252422;
    grid-column: span 2;
    margin-left: 2.5%;
}
figcaption{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.follow__title {
    font-size: 2.2rem;
    font-family: 'SctoGroteskA-Medium';
}

.social li {
    height: 1vh;
    padding: 2vh 0;
}

.social h3, .stay h3 {
    font-size: 1.8rem;
    font-family: 'SctoGroteskA-Medium';
    padding: 0 0 2vh;
}

#stay h3 {
    font-family: 'SctoGroteskA-Bold'
}

#stay input[type="email"]::placeholder {
    color: #252422;
}

/***********FOOTER**********/

footer {
    padding: 7vh 0 0;
}

footer article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
}

#footer-logo {
    height: 3.5vh;
}

footer h2{
    width: 90%;
    font-size: 2.4rem;
}

#connect__link{
    border-bottom: 2px solid currentColor;
}

footer h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.footer__links h3 {
    padding-bottom: 2vh;
}

.footer__links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__links div{
    display: flex;
    flex-direction: column;
}

.footer__links h3:not(:first-of-type){
    text-transform: uppercase;
}

footer h3::before {
    content: "●";
    margin-right: 0.4rem;
}

.footer__links a {
    font-size: 1.3rem;
}

input[type="email"] {
    width: 100%;
    height: 4rem;
    color: currentColor;
    display: block;
    border: none;
    border-bottom: 2px solid currentColor;
    background: transparent;
    font-size: 1.5rem;
    padding-top: 2vh;
}

.copyright{
    margin: 20vh 0 0;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    opacity: 0.3;
    align-items: center;
}

.copyright div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 3vh 0;
}

.copyright h6 {
    font-size: 0.9rem;
}

.dark {
    background: #252422;
    color: #f4f4f4;
}

/* .dark a {
    color: #f4f4f4;
} */

.dark #footer-logo  {
    background: url('/assets/img/footer-logo.svg') left / contain no-repeat;  
}

.dark footer input[type="email"]::placeholder {
    color: currentColor;
}

.light #footer-logo  {
    background: url('/assets/img/footer-logo-bg-white.svg') left / contain no-repeat;
}

/* .light a{
    color: #252422;
} */

/* .light footer a {
    color: #252422;
} */



/****page ASIDE*****/
#aside, #hamMenu {
    background: #252422;
    color: #f9cdcd;
    height: 100vh;
}

#aside-wrapper {
    height: 90vh;
    width: 90%;
    margin: 0 auto;
}

#aside article {
    margin: 0 auto;
    padding: 3vh 0;
    display: grid;
    grid-template-columns: 1fr 1.5fr 2.5fr;
}

#aside article p {
    font-size: 2rem;
}

#close-img {
    width: 25px;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
    padding: 5px;
}

.close-button {
    justify-self: end;
    background: none;
    border: none;
    cursor: pointer;
}

.aside-scroll{
    display: flex;    
    height: 80vh;
    overflow-x: scroll;
    padding: 3vh 2%;
}

.aside__item {
    padding: 0 2.7% 0 1.4%;
}

.aside__item img {
    width: 500px;
    height: 60vh;
    margin-bottom: 20px;
    transition: .5s ease;
}

.aside__item:hover img{
    height: 50%;
}

.aside__item h3 {
    text-transform: uppercase;
    font-size: 1.7rem;
}

.aside__item h4, .aside__item p{
    margin: 2vh 0;
    font-size: 1.2rem;
} 

.aside__item p{
    display: none;
    width: inherit;
}

.aside__item:hover p {
    display: block;
    margin-bottom: 30px;
}

.vertical {
    height: 75vh;
    position: relative;
    border-right: 2px solid #f9cdcd;
}

.vertical h6 {
    position: absolute;
    top: 77vh;
    left: -10px;
    font-size: 1.1rem;
}

.aside-scroll::-webkit-scrollbar {
    background: #252422;
    border:none;
}

.aside-scroll::-webkit-scrollbar-track {
    background-color: transparent;
} 

.aside-scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.aside-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #000;
}


#page404 {
    background:  #f9cdcd;
    color: #252422;
}
#page404 a {
    color: #252422
}
#page404 .points {
    color: #252422;
    background: url('/assets/img/menu.svg') right / contain no-repeat;
}
#page404 article{
    height: 100vh;
    position: relative;
}
.no-found {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}
#broke p {
    padding-bottom: 3vh;
}
#broke a:hover {
    color: #f9cdcd;
}

@media only screen and (max-width: 1450px) {
    /* main {
        background: red;
    } */
    h1 {
        font-size: 6rem;
        line-height: 12vh;
    }
    .intro-description h3 {
        font-size: 2.5rem;
    }
    #branding {
        width: 16%;
    }
    .engage-item p {
        font-size: 1.3rem;
    }
    .title-h1 {
        font-size: 6rem;
        line-height: 12vh;
    }
    #featuredNews p, #thinking-items p, #news__items p {
        font-size: 2.5rem;
        line-height: 5vh;
    }
    footer h2 {
        font-size: 2rem;
    }
    .footer h3 {
        font-size: 1.4rem;
    }
    #about-hero h3 {
        font-size: 2.4rem;
    }
    .about__award h3 {
        font-size: 2.4rem;
    }
    .fact__title {
        font-size: 2.6rem;
        font-family: 'SctoGroteskA-Medium';
    }
    .about-facts_grid h4 {
        font-size: 1.6rem;
    }
    .about__award {
        width: 70%;
    }
    .fact_list li {
        font-size: 1.2rem;
    }
    .awards-hover h3 {
        font-size: 5.3rem;
    }
    #featuredNews article, #thinking-items article, #news__items article {
        grid-template-columns: 1fr 1.6fr 0.4fr;
    }
    #news-hero, #thinking-hero {
        padding: 15vh 0 10vh;
    }
    #thinking-intro h4 {
        font-size: 1.8rem;
    }
    #thinking-intro h6 {
        font-size: 1.2rem;
    }
    .contact__emails h3 {
        font-size: 1.3rem;
    }
    .contact-intro p {
        margin: 3vh 0 10vh;
    }
    .aside__item img {
        width: 350px;
        height: 50vh;
    }
    .aside__item h3 {
        font-size: 1.5rem;
    }
    .aside__item h4, .aside__item p{
        font-size: 0.9rem;
    }
    nav ul {
        flex-direction: column;
    }
    .points {
        display: none;
    }
    .hamMenu {
        display: inline-block;
    }
    .hidden {
        display: unset;
        font-size: 1.5rem;
    }
    #naviLinks {
        display: none;
    }
    #hamMenu ul {
        height: 100vh;
        width: 90%;
        margin: 5vh auto;
    }
    #hamMenu li {
        height: 7vh;
    }
    #hamMenu a {
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    #logo-white {
        width: 100px;
        height: 32px;
    }
}

@media only screen and (max-width: 767.98px) {
    /* main {
        background: blue;
    } */
    h1 {
        font-size: 2.5rem;
        line-height: 6vh;
    }
    .title-h1 {
        font-size: 2.5rem;
        line-height: 6vh;
    }
    #intro h6 {
        font-size: .7rem;
    }
    .hero-bline, .intro-bline {
        border-bottom: 1px solid #252422;
    }
    .intro-bline {
        padding: 5vh 0;
    }
    .intro-description h3 {
        font-size: 1.5rem;
        width: unset;
        font-family: 'SctoGroteskA-Regular';
    }
    .intro-description {
        display: unset;
    }
    #branding {
        width: 30%;
    }
    .rounded {
        font-size: .8rem;
        padding: 1vh 7%;
        font-family: 'SctoGroteskA-Regular'
    }
    #engagements {
        margin-top: 3vh;
    }
    #engagements h3, #featuredNews h3 {
        font-size: 1.8rem;
        margin: 5vh 0 7vh;
    }
    .line-small {
        height: 1px;
        margin-bottom: 6vh;
    }
    .engage-item h5 {
        font-family: 'SctoGroteskA-Regular';
        font-size: 1.2rem;
    }
    .line-fit {
        width: 250px;
    }
    .engage-item p {
        font-size: 1rem;
        font-family: 'SctoGroteskA-Regular';
    }
    #culture {
        flex-direction: column;
        padding: 2vh 0 0;
    }
    #culture div {
        order: 2;
    }
    #culture video {
        width: 100%;
        order: 1;
    }
    #culture h2 {
        line-height: 6vh;
    }
    #culture h5 {
        font-size: 1rem;
        margin-bottom: 6vh;
    }
    #featuredNews article, #thinking-items article, #news__items article {
        grid-template-columns: unset;
    }
    #featuredNews article div {
        display: contents;
    }
    #featuredNews article, #thinking-items article {
        border-top: 1px solid #f9cdcd;
    }
    #featuredNews p, thinking-items p, #news__items p {
        font-size: 1.8rem;
        padding-bottom: 7vh;
    }
    footer article {
        display: flex;
        flex-direction: column;
    }
    .footer__links {
        display: flex;
        flex-direction: column;
    }
    footer h2 {
        font-size: 1.5rem;
        padding: 6vh 0;
    }
    footer h2 br {
        content: '';
    }
    footer h3 {
        font-size:  1.2rem;
    }
    input[type="email"]{
        border-bottom: 1px solid currentColor;
        font-size: 1.2rem;
        margin-bottom: 6vh;
    }
    .footer__links h3 {
        padding: 4vh 0 2vh;
    }
    .copyright {
        margin: 8vh 0 0;
    }
    .copyright div {
        flex-direction: column;
        align-items: center;
    }
    .copyright h6{
        font-size: 0.8rem;
    }
    #work-hero p{
        margin-left: unset;
        width: unset;
    }
    .work-services_grid, .contact-items_grid {
        display: unset
    }
    .work__intro {
        border-right: none;
    }
    .work__intro h3 {
        padding: 5vh 0;
        font-size: 1.8rem;
        width: 90%;
    }
    .work__intro p {
        font-size: 1rem;
    }
    .work__item p {
        font-size: .8rem;
        font-family: SctoGroteskA-Regular;
        width: 60%;
    }
    .work-services_grid article {
        display: flex;
        overflow-x: scroll;
        margin: 5vh 0;
    }
    .work__item img, .work__item video, .office__item img {
        width: unset;
        height: 50vh;
        margin-bottom: unset;
    }
    .work__item h4 {
        font-size: 1.5rem;
    }
    #about-hero {
        display: unset;
    }
    #about-hero h3 {
        font-size: 1.7rem;
    }
    .section-rline {
        border-bottom: 1px solid #f9cdcd;
    }
    #about-gallery {
        display: flex;
        flex-direction: column;
        align-items: unset;
    }
    #about-gallery p {
        order:2
    }
    #about-gallery article {
        order: 1;
        height: 90vh;
    }
    #about-gallery article figure, #page404 article figure {
        width: 50%;
    }
    figcaption {
        font-size: 1rem;
    }
    #about-facts img {
        width: 100%;
    }
    .fact__title {
        font-size: 1.7rem;
        grid-column: span 3;
    }
    .one-column {
        display: flex;
        justify-content: space-between;
    }
    .about-facts_grid {
        display: unset;
    }
    .about-facts_grid h2 {
        font-size: 3rem;
        order: 1;
    }
    .one-column {
        display: flex;
        padding-bottom: 4vh;
    }
    .about-facts_grid h4 {
        order: 2;
        padding-top: 8vh;
        font-size: 1.4rem;
    }
    .about__award {
        width: 90%;
    }
    .about__award h3 {
        font-size: 2rem;
    }
    .about-facts_grid div {
        margin-right: unset;
    }
    .about-hover h3 {
        font-size: 2rem;
    }
    .awards-hover span {
        transform: translate(-.5rem);
        font-size: .7rem;
    }
    .awards-hover {
        padding: 5vh 0;
    }
    #news__items article {
        border-top: 1px solid #252422;
    }
    #thinking-intro {
        display: unset;
    }
    #thinking-intro h4 {
        font-size: 1.6rem;
    }
    #featuredNews p, #thinking-items p, #news__items p {
        font-size: 2rem;
    }
    #featuredNews h6, #thinking-items h6, #news__items h6 {
        padding-top: 4vh;
    }
    /*** Contact page ****/
    #contact-hero {
        display: flex;
        flex-direction: column;
    }
    #contactSlogan {
        order: 1;
        width: 100%;
    }
    #contactSlogan p {
        max-width: 100%;
        margin: 3vh 0;
    }
    #contact-hero img {
        order: 2;
        height: unset;
    }
    .contact__emails {
        order: 3;
        margin-top: 5vh;
    }
    .contact__emails h2 {
        font-size: 2rem;
    }
    .contact__emails h3 {
        font-size: .8rem;
    }
    .contact__emails a, .social a {
        font-size: 1rem;
    }
    .office__title{
        border-right: none;
    }
    .office__item figcaption {
        display: none;
    }
    .grid-bline {
        border-bottom: 1px solid #252422;
        margin-bottom: 5vh;
    }

    #aside {
        height: 110vh;
    }
    #aside article {
        padding: 2vh 0 1vh;
        display: flex;
        flex-direction: column;
    }
    #aside article h3 {
        font-size: .7rem;
        text-transform: uppercase;
        width: 90%;
        margin: 0 auto 1vh;
    }
    .aside__item img {
        width: 300px;
        height: 45vh;
    }
    .aside-scroll {
        padding: 1vh 2%;
    }
    .close-button {
        order: 1;
        align-self: flex-end;
    }
    #aside article h3:first-of-type {
        order: 2;
    }
    #aside article h3:nth-of-type(2) {
        order: 3;
        
    }
    #aside article h3 br {
        display: none;
        
    }
    .aside__item h3 {
        font-size: 1.1rem;
    }
    .aside__item p {
        display: block;
        font-size: .8rem;
        font-weight: 400;
        width: 95%;
    }
    .aside__item a {
        display: none;
    }
    .vertical h6 {
        top: 75vh;
        font-size: .8rem;
        left: -7px;
    }
}