@font-face {
    font-family: 'SctoGroteskA-Bold';
    src: url("/assets/fonts/SctoGroteskA-Bold.woff2");
}

@font-face {
    font-family: 'SctoGroteskA-Medium';
    src: url("/assets/fonts/SctoGroteskA-Medium.woff2");
    /* como si fuera font-weight: 600; */
}

@font-face {
    font-family: "SctoGroteskA-Regular";
    src: url("/assets/fonts/SctoGroteskA-Regular.woff2");
    /* para usar sola ó con fweight 400 o menor*/
}


* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'SctoGroteskA-Regular';
}
main {
    width: 90%;
    margin: 0 auto;
}
/* body {
    color: #f4f4f4 / #252422 / #f9cdcd
}  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 5vh auto; */
    height: 10vh;
}

nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul li{
    margin: 0 10%;
}
nav ul li a{
    color: #252422;
    font-size: 1.1rem;
    text-transform: uppercase;
}
nav ul li a:hover{
    text-decoration: underline;
}
nav ul li a:active {
    text-decoration: underline;
}
.logo-b{
    width: 160px;
    height: 36px;
}

/*********/
/* h1: 3rem, medium */
/*.title-h1: medium, 3rem*/
/*h5 regular*/
/*#engagements h3: bold*/
/* .engage-item h5: 'SctoGroteskA-Bold'*/
/*work__intro h4: bold;*/
/*#featuredNews p: fz 1.3rem*/
/*.work__intro h5: margin-bottom: 30vh; bold */
/*.work__item h5 bold;*/
/*.contact__emails h3 { 1.6rem;'SctoGroteskA-Bold'*/
/*.about-facts_grid h4 {1.1rem;'SctoGroteskA-Bold'*/



h1{
    font-family: 'SctoGroteskA-Medium'; 
    font-size: 7rem;
    line-height: 16vh;
}

h6 {
    font-size: 1rem;
}
h4 {
    font-family: 'SctoGroteskA-Medium';
}
.title-h1 {
    font-family: 'SctoGroteskA-Medium'; 
    font-size: 7rem;
}
#hero .title-h1 {
    text-align: right;
}

#hero video{
    width: 100%;
}

/******intro *****/
.intro-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-description h3 {
    font-family: 'SctoGroteskA-Medium';
    width: 50%;
    padding: 10vh 0;
}
#branding{
    width: 22%;
}
.rounded {
    border-radius: 50px;
    padding: 1vh 5%;
    font-size: 1.2rem;
    font-family: 'SctoGroteskA-Medium';
}

.rlink-light {
    color: #252422;
    border: 1px solid #252422;
}
/* .rounded-link { */
    /* color: currentColor;
    border-radius: 50px;
    border: 1px solid #f4f4f4;
    padding: 1vh 5%;
    font-size: .5rem; */
    /* transition: .5s linear; */
/* } */
.rlink-light:hover {
    color: #f4f4f4;
    background: #252422;
}
.line-big {
    margin: 25vh 0;
    background: #252422;
}


/* ***** featuredEngagements ****** */
#engagements h3, #featuredNews h3 {
    margin: 15vh 0;
    max-width: 24%;
    font-family: 'SctoGroteskA-Bold';
}

#engagements article{
    display: flex;
    overflow-x: scroll;
}

.engage-item{
    margin-right: 10%;
}
.engage-item img{
    height: 6vh;
    margin-bottom: 4vh;
}
.line-small{
    width: 7%;
    height: 2px;
    background: #252422;
    margin-bottom: 17vh;
}

.engage-item h5 {
    font-family: 'SctoGroteskA-Bold';
    margin: 3vh 0;
}
.line-fit{
    width: 220px;
    background: #252422;
}
.engage-item p{
    font-size: 0.7rem;
    line-height: 1.1rem;
    margin: 3vh 0 8vh;
}
/****culture****/
#main2 {
    background: #252422;
    color: #f9cdcd;
}
#culture, #featuredNews{
    padding: 20vh 0 0;
    width: 90%;
    margin: 0 auto;
}

#culture {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#culture h2 {
    line-height:12vh;
}
#culture h5{
    margin-bottom: 15vh; 
}
#culture h5>span {
    font-family: 'SctoGroteskA-Bold';
}

.rlink-rosa {
    color: #f9cdcd;
    border: 1px solid #f9cdcd;
}

.rlink-rosa:hover{
    background: #f9cdcd;
    color: #252422;
}
#culture video{
    width: 40%;
}

/******* featuredNews ******** */

#featuredNews article,#thinking-items article, #news__items article{
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    gap: 20px;
    padding: 4vh 0;
    /* margin-bottom: 20px; */
}
#news__items, #thinking-items{
    padding: 10vh 0;
}
#news__items article {
    border-top: 1px solid #252422;
}

#featuredNews article,
#thinking-items article{
border-top: 1px solid #f9cdcd;
}

#featuredNews article img:first-of-type,
#news__items img:first-of-type,
#thinking-items img:first-of-type{
    width: 100%;
}

#featuredNews article div,#thinking-items div, #news__items div{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
}

#featuredNews p, #thinking-items p, #news__items p{
    font-size: 1.3rem
}

#featuredNews h6, #thinking-items h6, #news__items h6{
    word-spacing: 30px;
}

#news-hero, #thinking-hero{
    display: flex;
    justify-content: space-between;
    padding: 10vh 0;
}

.arrow{
    width: 30px;
    align-self: flex-start;
    justify-self: flex-end;
}








/***page WORK***/
#work-hero{
    padding: 10vh 0 0;
}

#work-hero p{
    margin-left: auto;
    width: 30%;
    padding: 10vh 0;
}

#workSec p {
    font-size: 1.5rem;
}

.work__intro{
    border-right: 2px solid #252422;
}

.work__intro p {
    padding-bottom: 5vh;
    width: 92%;
}

.work__intro h3 {
    width: 70%;
    padding: 10vh 0 5vh;
    font-size: 2.5rem;
    font-family: 'SctoGroteskA-Medium';
}

.work__item h4 {
    font-family: 'SctoGroteskA-Bold';
    padding: 3vh 0;
    font-size: 2rem;
}
.work__item p {
    width: 60%;
    font-size: .8rem;
}

.gridSec-bline {
    border: none;
    border-bottom: 2px solid #252422;
}

.section-bline {
    border: none;
    border-bottom: 2px solid #252422;
    padding: 5vh 0;
}

/*PAGE ABOUT*/
#about, #thinking {
    background: #252422;
    color:#f9cdcd; 
}
#about-hero{
    padding: 10vh 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 130vh; */
}
#about-hero h2:nth-of-type(1), #about-hero h2:nth-of-type(2) {
    grid-column: span 2;
}
#about-hero h2:nth-of-type(3) {
    grid-row: span 4
}
/* .about_column {
    align-self: end;
    height: 95vh;
} */
#about-hero h3 {
    font-size: 2.9rem;
    padding: 5vh 0 10vh;
    line-height: 5vh;
    font-weight: 300;
}

.section-rline {
    border: none;
    border-bottom: 2px solid #f9cdcd;
    margin: 3vh 0;
}

#about-gallery{
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* padding: 10vh 0 10vh; */
    align-items: center;
}
/* #about-gallery h5{
    width: 80%;
} */
#about-gallery article{
    height: 140vh;
    position: relative;
}
#about-gallery article figure{
    position: absolute;
    width: 40%;
}
#about-gallery figure:nth-of-type(1){
    top: 10vh;
    left: 10%;
    z-index: 3;
}
#about-gallery figure:nth-of-type(2){
    top: 39vh;
    left: 20%;
    z-index: 4;
}
#about-gallery figure:nth-of-type(3){
    top: 22vh;
    left: 28%;
    z-index: 2;
    display: flex;
}
#about-gallery figure:nth-of-type(4){
    top: 52vh;
    left: 46%;
    z-index: 1;
}
#about-gallery figure img{
    width: 100%;
}

#about-gallery article figure:hover{
    z-index: 5;
}

#about-facts img{
    width: 45%;
}

.work-services_grid, .about-facts_grid, .contact-items_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5vh 0;
}

.about-facts_grid .right, .contact-items_grid .right{
    justify-self: flex-end;
}
.about-facts_grid {
    margin-bottom: 5vh;
    row-gap: 10vh;
}
.about-facts_grid div{
    margin-right: 27%;
}
.fact__title{
    grid-row: span 3;
    font-family: 'SctoGroteskA-Bold';
    font-size: 3rem;
}

.about-facts_grid h4 {
    font-size: 2rem;
    font-family: 'SctoGroteskA-Bold';
}

.about-facts_grid h2{
    font-size: 5rem;
    font-family: 'SctoGroteskA-Bold';
    padding: 2.5vh 0;
}

.about-facts_grid p {
    font-size: 1.5rem;
}

.fact__title:last-of-type {
    grid-row: span 1;
}

.fact_list li {
    font-size: 1.4rem;
    line-height: 5vh;
}

.about__award{
    grid-column: span 2;
    width: 60%;
}
.about__award h3 {
    padding-bottom: 7vh;
    font-size: 2.9rem;
    line-height: 4vh;
    font-weight: 300;
}

.awards-hover{
    padding: 5vh 0 45vh;
}
.awards-hover h3 {
    font-size: 6rem;
    font-family: 'SctoGroteskA-Medium'; 
    /* padding: 0; */
}
.awards-hover span{
    font-size: 1.2rem;
    display: inline-block;
    transform: translateY(-3.3rem);
}
.awards-hover figure{
    position: relative;
}
.awards-hover img{
    width: 30%;
    position: absolute;
   
    overflow: hidden;
    right: 10%;
    height: 0;
}
.awards-hover figcaption{
    font-size: 4rem;
    opacity: .5;
}

.awards-hover figcaption:hover{
    opacity: 1;
}
.awards-hover figcaption:hover+img{
    height: unset;
    transform: translateY(-50%);
}


#thinking-intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 200px;
}

/********CONTACT PAGE********/
#contact-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2%;
    padding: 5vh 0;
}

#contact-hero img{
    height: 100vh;
    width: 100%;
}

.contact-intro {
    display: flex;
    flex-direction: column;
}

.contact-intro p{
    max-width: 35%;
    margin: 3vh 0 15vh;
}

.contact__emails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    row-gap: 5vh;
}

.contact__emails h2{
    grid-row: span 2;
    font-size: 3rem;
    align-self: flex-start;
}

.contact__emails div {
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact__emails h3 {
    font-size: 1.6rem;
    font-family: 'SctoGroteskA-Bold'
}

.contact__emails a, .social a{
    color: #252422;
    font-size: 1.4rem;
    text-decoration: underline;
}

.contact-items_grid{
    row-gap: 4vh;
}

.office__title {
    border-right: 2px solid #252422;
    font-size: 2.2rem;
    font-family: 'SctoGroteskA-Medium';
    grid-row: span 6;
}

.office__city {
    font-size: 1.6rem;
    font-family: 'SctoGroteskA-Medium';
    margin-left: 8%;
}
.work__item, .office__item {
    margin-left: 5%;
}
.work__item img, .work__item video, .office__item img{
    width: 100%;
    margin-bottom: 20px;
}

.grid-bline {
    border: none;
    border-bottom: 2px solid #252422;
    grid-column: span 2;
    margin-left: 2.5%;

}
figcaption{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.follow__title {
    font-size: 2.2rem;
    font-family: 'SctoGroteskA-Medium';
}

.social li {
    height: 1vh;
    padding: 2vh 0;
}

.social h3, #stay h3 {
    font-size: 1.8rem;
    font-family: 'SctoGroteskA-Medium';
    padding: 0 0 2vh;
}

#stay input[type="email"]::placeholder {
    color: #252422;
}

/***********FOOTER**********/

footer {
    padding: 7vh 0 0;
}

footer article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
}

.footer-logo img{
    height: 4vh;
    /* color:  #252422 */
}

footer h2{
    width: 80%;
    font-size: 2.5rem;
}

.footer__connect a{
    text-decoration: underline;
}

footer h3 {
    font-size: 2rem;
    padding-bottom: 2vh;
}

.footer__links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__links div{
    display: flex;
    flex-direction: column;
}

.footer__links h3:not(:first-of-type){
    text-transform: uppercase;
}

footer h3::before {
    content: "●";
    margin-right: 0.4rem;
}

.footer__links a {
    font-size: 1.3rem;
}

input[type="email"] {
    width: 100%;
    height: 3rem;
    color: currentColor;
    display: block;
    border: none;
    border-bottom: 2px solid currentColor;
    background: transparent;
    font-size: 1.5rem;
}

.copyright{
    margin: 20vh 0 0;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    opacity: 0.3;
    align-items: center;
}

.copyright div {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 3vh 0;
}


/*layouts*/
.dark {
    background: #252422;
    color: #f4f4f4;
}
.dark a {
    color: #f4f4f4;
}
.dark .footer-logo  {
    background-image: url('/assets/img/footer-logo-bg-white.svg') left / contain no-repeat;
}

.dark footer input[type="email"]::placeholder {
    color: currentColor;
}

.flight {
    color: #252422;
}

.flight a{
    color: #252422;
}
.flight>.footer-logo  {
    background-image: url('/assets/img/footer-logo.svg') left / contain no-repeat;
}
.flight footer a {
    color: #252422;
}


.light .logo-b {
    background: url('/assets/img/logo.svg') left / contain no-repeat;
}
.light .points {
    background: url('/assets/img/menu.svg') right / contain no-repeat;
}

.rosa {
    background: #252422;
    color:#f9cdcd; 
}
.rosa .logo-b {
    background: url('/assets/img/logo_pink.svg') center / cover no-repeat;
}
.rosa .points {
    background: url('/assets/img/menu_pink.svg') right / contain no-repeat;
}
.rosa a {
    color: #f9cdcd
}

.points {
    height: 1vh;
    width: 6%;
}

/****page internal works*****/
#internal-works {
    background: #252422;
    color: #f9cdcd;
    height: 100vh;
}
.internal-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 3vh 0;
}
#internal-works article {
    display: grid;
    grid-template-columns: 1fr 1.5fr 2.5fr;
}
#close-cross {
    width: 25px;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
    padding: 5px;
}
.close-button {
    justify-self: end;
    margin-top: 2vh;
    background: none;
    outline: none;
    border: none;
    width: 6%;
    cursor: pointer;
}

.internal-scroll{
    display: flex;    
    height: 60vh;
}
.dazwischen{
    display: flex;
    width: 32%;
    height: 90vh;
}
.internal__item{
    overflow: hidden;   
}
.internal__item img{
    height: 75%;
    width: 100%;
}

.internal__item img:hover{
    height: 50%;
}
.internal__item:hover .hidden{
    display: block;
}
.internal__item h4{
    margin: 30px auto 10px;
    font-size: 1.4em;
    font-weight: 700;
}
