@font-face{
    font-family: 'Scto';
    src: url('../fonts/SctoGroteskA-Bold.woff2');
    font-weight: bold;
}
@font-face{
    font-family: 'Scto';
    src: url('../fonts/SctoGroteskA-Medium.woff2');
    font-weight: normal;
}
@font-face{
    font-family: 'Scto';
    src: url('../fonts/SctoGroteskA-Regular.woff2');
    /* font-weight: light; */
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Scto';
}
/* body {
    color: #f4f4f4 / #252422 / #f9cdcd
}  */
nav{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 5vh auto;
}
.logo-b{
    width: 10%;
    height: 4vh;
}

nav ul{
    display: flex;
}
nav ul li{
    margin: 0 30px;
}
nav ul li a{
    color: #252422;
}
nav ul li a:hover{
    text-decoration: underline;
}

/*********/
main {
    width: 90%;
    margin: 0 auto;
}

h1{
    font-size: 5.5rem;
}

.title-h1 {
    font-size: 5.5rem;
    text-align: right;
}
#hero video{
    width: 100%;
}

/******intro *****/
#intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}
h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 5vh 0;
}
#branding{
    /* grid-row: span 3; */
    width: 250px;
    justify-self: end;
    /*margin-top: 20px; */
}
.rounded-link {
    color: #252422;
    border-radius: 50px;
    border: 1px solid #252422;
    padding: 1vh 5%;
    font-size: .9rem;
    /* transition: .5s linear; */
}
.rounded-link:hover {
    color: #f4f4f4;
    background: #252422;
}
.line-big {
    margin: 20vh 0 5vh;
}


/* ***** featuredEngagements ****** */
#engagements h2, #featuredNews h2 {
    font-size: 2.5rem;
    margin: 15vh 0;
    max-width: 30%;
}

#engagements article{
    display: flex;
    overflow-x: scroll;
}
.engage-item{
    margin-right: 6%;
}
.engage-item img{
    height: 50px;
    margin-bottom: 20px;
}
.line-small{
    width: 30px;
    height: 2px;
    background: #252422;
    margin-bottom: 11vh;
}
.engage-item h4{
    font-size: 1.2em;
    margin: 3vh 0;
}
.line-fit{
    width: 350px;
    background: #252422;
}
.engage-item p{
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 3vh 0 8vh;
}
/****culture****/
#main2 {
    background: #252422;
    color: #f9cdcd;
}
#culture, #featuredNews{
    width: 90%;
    margin: 0 auto;
    padding: 20vh 0 10vh;
}
#culture {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.culture-h2{
    font-size: 5.5rem;
    line-height: 13vh;
    
}
#culture h4{
    font-size: 1.2rem;
    margin-bottom: 15vh;
}
.bold {
    font-weight: bold;
}
#culture .rounded-link {
    color: #f9cdcd;
    border: 1px solid #f9cdcd;
}

#culture .rounded-link:hover{
    background: #f9cdcd;
    color: #252422;
}
#culture video{
    width: 35%;
}

/******* featuredNews ******** */

/* #featuredNews h2{
    width: 300px;
    font-size: 3em;
    margin-bottom: 80px;
} */
/* .featured-wrapper {
    display: flex;
    flex-direction: column;
} */
#featuredNews article{
    border-top: 1px solid #f9cdcd;
    display: grid;
    grid-template-columns: 1fr 1.2fr 0.8fr;
    gap: 20px;
    padding: 4vh 0;
    /* margin-bottom: 20px; */
}
#featuredNews article img{
    width: 100%;
}
#featuredNews article div{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
#featuredNews article div h3{
    font-size: 2rem;
    font-weight: normal;
}
#featuredNews article div h4{
    word-spacing: 30px;
}
#featuredNews article img:last-of-type{
    width: 50px;
    align-self: flex-start;
    justify-self: flex-end;
}

















/*****Footer*****/

footer {
    padding: 30vh 5% 0;
}
footer article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
footer img{
    height: 30px;
}

footer h3{
    /* font-size: 2em; */
    font-weight: normal;
}
footer h4 {
    font-weight: normal;
    padding-bottom: 20px;
    text-transform: uppercase;

}
footer h4::before {
    content: "â—";
    margin-right: 0.5rem;
}
footer input{
    background: transparent;
    margin-top: 30px;
    color: currentColor;
    border: none;
}
input[type="email"] {
    width: 100%;
    height: 4rem;
    color: currentColor;
    display: block;
    border-bottom: 0.1rem solid;
  }
  input {
    background: transparent;
    border: 1px solid #252422;
    font-size: 20px;
  }
/* footer hr{
    margin-right: 20px;
} */

footer article>div:last-of-type{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
footer article>div:last-of-type div{
    display: flex;
    flex-direction: column;
}

.copyright{
    height: 10vh;
    margin: 30vh -15% 0; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    opacity: 0.5;
}

/*layouts*/
.dark {
    background: #252422;
    color: #f4f4f4;
}

.light {
        background-color: #f4f4f4;
        color: #252422;
}
.light footer a{
    color: #252422;
}
.dark footer a {
    color: #f4f4f4;
}
.light .logo-b {
    background: url('/assets/img/logo.svg') center / cover no-repeat;
}
.rosa {
    background: #252422;
    color:#f9cdcd;
}
.rosa .logo-b {
    background: url('/assets/img/logo_pink.svg') center / cover no-repeat;
}
.rosa a {
    color: #f9cdcd
}