@font-face{
    font-family: 'Scto';
    src: url('../fonts/SctoGroteskA-Bold.woff2') format('woff2');
    font-weight: bold;
}
@font-face{
    font-family: 'Scto';
    src: url('../fonts/SctoGroteskA-Medium.woff2');
    font-weight: normal;
}
@font-face{
    font-family: 'Scto';
    src: url('../fonts/SctoGroteskA-Regular.woff2');
    font-weight: lighter;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Scto'
}
body {
    color: #f4f4f4 / #252422 / #f9cdcd
} 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5vw;
}
#logo-b{
    width: 100px;
}

nav ul{
    display: flex;
}
nav ul li{
    margin: 0 30px;
}
nav ul li a{
    color: #252422;
}
nav ul li a:hover{
    text-decoration: underline;
}


footer{
    background-color: #f4f4f4;
    padding: 30vh 5% 0;
    color: #252422;
}
footer article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
footer img{
    height: 30px;
}
footer h3 a{
    color: #252422;
}
footer h3{
    font-size: 2em;
    font-weight: normal;
}
footer h4{
    font-size: 1.4em;
    font-weight: normal;
    padding-bottom: 20px;
}
footer h4::before {
    content: "â—";
    margin-right: 0.5em;
}
footer input{
    background: transparent;
    font-size: 1.3em;
    margin-top: 30px;
   
    color: #252422;
    font-family: inherit;
    width: 100%;
    border: none;
}
input[type="email"] {
    width: 100%;
    height: 4rem;
    line-height: 5.5rem;
    color: currentColor;
    display: block;
    border-bottom: 0.1rem solid;
  }
  input {
    background: transparent;
    border: 1px solid #252422;
    font-size: 20px;
  }
footer hr{
    margin-right: 20px;
}
footer div p{
    font-size: 1.4em;
    padding: 20px 0px 20px 0;
    margin-right: 20px;
    border-bottom: 1px solid #252422;
}
/* footer h4 span{
    display: inline-block;
    background-color: #252422;
    border-radius: 50%;
    height: 15px;   
    width: 15px;
    margin-right: 5px;
} */
footer article>div:last-of-type{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
footer article>div:last-of-type div{
    display: flex;
    flex-direction: column;
}
footer article>div:last-of-type a{
    color: #252422;
    text-decoration: none;
}

footer article:last-of-type{
    height: 10vh;
    margin: 30vh -15% 0;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f4;
}
footer article:last-of-type p{
    font-size: .8em;
}